* {
  margin: 0;
  box-sizing: border-box;
}
#reticula {
  display: grid;
  height: 100vh;
  gap: 15px;
  grid-template-columns: 15vw repeat(3, 1fr);
  grid-template-rows: 80px 1fr 100px 80px;

  grid-template-areas:
    "header header header header"
    "sidebar main main seccion1"
    "sidebar main main seccion2"
    "sidebar footer footer seccion2";
}

header {
  grid-area: header;
  background: #3498db;
}
aside {
  grid-area: sidebar;
  background: #2a3f53;
  color: white;
}
main {
  grid-area: main;
  background: #ecf0f1;
}
.s1 {
  grid-area: seccion1;
  background: #cdd5d6;
}
.s2 {
  grid-area: seccion2;
  background: #cdd5d6;
}
footer {
  grid-area: footer;
  background: #123555;
  color: white;
}
